<!-- <router-outlet></router-outlet> -->
<div class="flex-box">
    <div style="width: 45%;">
        <div echarts [options]="chartOption" class="demo-chart"></div>
    </div>
    <div id="chart2" style="float: left; width: 45%;">
        <div echarts [options]="chartOption2" class="demo-chart"></div>
    </div>
</div>
<div class="flex-box">
    <div id="chart3" style="width: 45%;">
        <div style="text-align: center;">
            <button class="button" (click)="theme=''">Light Theme</button>
            &nbsp; &nbsp; 
            <button class="button" (click)="theme='dark'">Dark Theme</button>
            &nbsp; &nbsp; 
            <button class="button" (click)="theme=coolTheme">Cool Theme</button>
        </div>
        <br />
        <div echarts [theme]="theme" [options]="chartOption3" class="demo-chart" (chartInit)="onChartInit($event)"
            (chartClick)="onChartClick($event)" (chartDataZoom)="onChartEvent($event, 'chartDataZoom')"></div>
    </div>
    <div id="chart4" style="float: left; width: 45%;">
        <div echarts [options]="chartOption4" [merge]="updateOptions" class="demo-chart"></div>
    </div>
</div>